/* ******************** Commons ******************** */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*  font-family: 'Montserrat', sans-serif; */
/* ******************** Utility ******************** */
.grey_bg{
    background-color: #F4F9FD;
    height: 100px;
    width: 100%;
}

.white_bg{
    background-color: #FFFFFF;
    height: 100px;
    width: 100%;
}

/* ******************** Site Header ******************** */
header select{
    background-color: transparent;
    border: none;
}

header a {
    text-decoration: none;
}
/* Site Navigation */
#site_navigation{
    height: 200px;
    width: 100%;
}

/* Top Navigation */
.top_nav{
    height: 100px;
    width: 70%;
    margin: auto;
}
.left_top{
    width: 50%;
    float: left;
    padding-top: 30px;

}
.left_top select{
    width: 80px;
    margin: 10px 30px 10px 0;
    font-weight: 600;
}

.left_top a{
    border-left: 2px solid black;
    padding-left: 20px;
    font-weight: 600;
}


.right_top{
    width: 50%;
    height: 100%;
    padding-top: 30px;
    float: left;
    text-align: right;
}

.right_top img{
    height: 20px;    
}

.right_top a{
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 1rem;
    font-weight: 600;
}
.right_top a:first-of-type{
    background-color: white;
    border: 2px solid #FE775A;
    color: #FE775A;
}

.right_top a:nth-of-type(2){
    background-color: #FE775A;
    color: white;
    border: 2px solid #FE775A;
}

/* Bottom Navigation */
.bottom_nav{
    height: 100px;
    width: 70%;
    margin: auto;
}

.bottom_nav img{
    height: 30px;
    margin-top: 35px;
}

.bottom_nav form{
    float: right;
    line-height: 100px;   
}

.bottom_nav form select{
    margin-left: 20px; 
    padding-right: 10px; 
    font-weight: 600;
}

.bottom_nav form select:nth-of-type(2){
    appearance: none;
    margin-right: -10px;
}



/* ******************** Site  Main ******************** */




/* Page 1 -- Big Immage Background */
.bg_img{
    height: 840px;
    width: 100%;
    background-color: #fff2ee;
    background-image: url(../img/jumbotron.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.cover_bar{
    height: 100px;
    width: 100%;
    background-color: #AFEBE4;
    position: absolute;
    bottom: 0;
    border-top: 5px solid #33475B;
    border-bottom: 5px solid #33475B;
}

.jumbotext{
    width: 40%;
    margin-left: 15%;
}

.jumbotext h1{
    font-size: 60px; 
    font-weight: 800;
    padding-top: 5rem;
}

.jumbotext p{
    margin-top: 3rem;
    font-size: 25px;
    font-weight: 400;

}

.jumbotext button{
    margin-top: 3rem;
    background-color: red;
    padding: 2rem 4rem;
    color: white;
    border-radius: 5px;
    border: 1px solid red;

}
/* Page 2 -- Long page with content */


/* page 3 -- Big Table with dates */


/* Page 4 --Collaboration parterns */




/* ******************** Site Footer ******************** */


