/* ******************** Commons ******************** */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*  font-family: 'Montserrat', sans-serif; */
/* ******************** Utility ******************** */
.grey_bg{
    background-color: #F4F9FD;
    height: 100px;
    width: 100%;
}

.white_bg{
    background-color: #FFFFFF;
    height: 100px;
    width: 100%;
}

.check::before{
    background-color: #FE775A;
    color: white;
    border-radius: 50%;
    margin-right: 1rem;
}
.h3_text{
    font-size: 30px;
    margin-bottom: 1.5rem;
}

/* ******************** Site Header ******************** */
header select{
    background-color: transparent;
    border: none;
}

header a {
    text-decoration: none;
}
/* Site Navigation */
#site_navigation{
    height: 200px;
    width: 100%;
}

/* Top Navigation */
.top_nav{
    height: 100px;
    width: 70%;
    margin: auto;
}
.left_top{
    width: 50%;
    float: left;
    padding-top: 30px;

}
.left_top select{
    width: 80px;
    margin: 10px 30px 10px 0;
    font-weight: 600;
}

.left_top a{
    border-left: 2px solid black;
    padding-left: 20px;
    font-weight: 600;
}


.right_top{
    width: 50%;
    height: 100%;
    padding-top: 30px;
    float: left;
    text-align: right;
}

.right_top img{
    height: 20px;    
}

.right_top a{
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 1rem;
    font-weight: 600;
}
.right_top a:first-of-type{
    background-color: white;
    border: 2px solid #FE775A;
    color: #FE775A;
}

.right_top a:nth-of-type(2){
    background-color: #FE775A;
    color: white;
    border: 2px solid #FE775A;
}

/* Bottom Navigation */
.bottom_nav{
    height: 100px;
    width: 70%;
    margin: auto;
}

.bottom_nav img{
    height: 30px;
    margin-top: 35px;
}

.bottom_nav form{
    float: right;
    line-height: 100px;   
}

.bottom_nav form select{
    margin-left: 20px; 
    padding-right: 10px; 
    font-weight: 600;
}

.bottom_nav form select:nth-of-type(2){
    appearance: none;
    margin-right: -10px;
}



/* ******************** Site  Main ******************** */




/* Page 1 -- Big Immage Background */
.bg_img{
    height: 840px;
    width: 100%;
    background-color: #fff2ee;
    background-image: url(../img/jumbotron.png);
    background-position: right;
    /* background-position: bottom; */
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.cover_bar{
    height: 100px;
    width: 100%;
    background-color: #AFEBE4;
    position: absolute;
    bottom: 0;
    border-top: 5px solid #33475B;
    border-bottom: 5px solid #33475B;
}

.jumbotext{
    width: 40%;
    margin-left: 15%;
}

.jumbotext h1{
    font-size: 60px; 
    font-weight: 800;
    padding-top: 5rem;
}

.jumbotext p{
    margin-top: 3rem;
    font-size: 25px;
    font-weight: 400;

}

.jumbotext button{
    margin-top: 3rem;
    background-color: red;
    padding: 2rem 4rem;
    color: white;
    border-radius: 5px;
    border: 1px solid red;

}
/* Page 2 -- Long page with content */

.page_2{
    height: 1500px;
    width: 100%;
    background-color: #F4F9FD;
}

.container_page_2{
    width: 70%;
    margin:auto;
    text-align: center;
}


/*------- Block 1 ------- */
.block_1{
    height: 340px;
    /* background-color: rgba(255, 0, 0, 0.191); */
    padding-top: 45px;
}
.block_1 img{
    height: 150px;
}
.block_1 h2{
    font-size: 30px;
}
.block_1 p{
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    padding: 2rem 6rem;
}

/*------- Block 2 ------- */

.block_2{
    height: 340px;
    background-color: white;
    margin-top: 35px;
    padding: 4rem 4rem;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    box-shadow:5px 5px rgba(0, 0, 0, 0.1);
}
.block_2_left{
    height: 100%;
    width: 30%;
    float: left;
    text-align: center;
}
.block_2_left img{
    height: 100px;
    margin-bottom: 2rem;
}


.btn{
    background-color: #FE775A;
    padding: 1rem 2rem;
    border: 1px solid #FE775A;
    border-radius: 5px;

}
.block_2_right{
    /* background-color: rgba(32, 102, 26, 0.301); */
    width: 70%;
    height: 100%;
    float: left;
    text-align: left;
}

.block_2_right h4{
    text-transform: uppercase;
    margin: 1rem 1rem 1.5rem 0;
    font-size: 20px;
}

.block_2_right p{
    line-height: 30px;
    font-size: 0.9rem;
    width: 80%;

}
.block_2_right span{
    font-weight: 600;
    margin-right: 30px;
}





/*------- Block 3 ------- */

.block_3{
    height: 650px;
    margin-top: 55px;
}

.col{
    /* width: (( 100% - 6% ) / 3 ); */
    height: 650px;
    width: 30%;
    float: left;
    border: 1px solid black;
    padding: 1.5rem 1.5rem;
}
.block_3 .col:nth-of-type(2){
    margin: 0 5%;
}

.block_3 .col img{
    height: 100px;
    margin-top: 1rem;
}

.block_3 .col h3{
    margin-top:1rem;
}

.block_3 .col p{
    height: 180px;
    padding: 2rem 0;
    font-size: 0.9rem;
}

.block_3 .col h4{
    text-transform: uppercase;
    padding: 2rem 0;
}
.block_3 .col span{
    display: block;
    text-align: left;
}
.block_3 .col span:last-of-type{
    margin-bottom: 3.5rem;
}
.block_3 .col a{
    background-color: #FE775A;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;

}

/* page 3 -- Big Table with dates */

.page_3{
    height: 700px;
    background: linear-gradient(0.25turn, #00A8BA, #00B9A9);
}
.container_page_3{
    width: 70%;
    margin: auto;
    color: white;
    text-align: center;
}

.title_3{
    height: 250px;
    padding: 3rem 0;
}
.title_3 h3{
    font-size: 32px;
}
.title_3 p{
    margin-top: 3rem;
    font-size: 15px;
}


.table_3{
    height: 400px;
}

.small_box{
    height: 50%;
    width: 25%;
    float: left;
    padding: 1rem 0;
}
.small_box img{
    height: 40px;

}
.small_box span{
    display: block;
}
.small_box span:nth-of-type(1){
    font-size: 50px;
    font-weight: 800;
    padding: 1rem 0;
}
.small_box span:nth-of-type(1)::after{
   content: "\002B";
   font-weight: 400;
   margin-left: 5px;
}
.small_box span:nth-of-type(2){
    font-weight: 600;
}

.small_box:not(:nth-of-type(4), :nth-of-type(8)){
    border-right: 1px solid white ;
}

.small_box:nth-of-type(1n+5){
    border-top: 1px solid white;
}


/* Page 4 --Collaboration parterns */
.page_4{
    height: 700px;
    /* background-color: violet; */
}
.container_page_4{
    width: 70%;
    height: 700px;
    margin: auto;
    /* background-color: springgreen; */
}

.customers{
    height: 250px;
    width: 40%;
    float: left;
    /* background-color: red; */
    line-height: 30px;
    /* text-align: center; */
    padding: 3rem 8rem 2rem 6rem;
}
.customers h4{
    font-size: 40px;
    padding-bottom: 2rem;
}

.parterns{
    height: 250px;
    width: 60%;
    float: left;
    /* background-color: yellowgreen; */
    padding: 2rem 4rem;
    line-height: 50px;
}

.parterns img{
    width: 18%;
    margin: 2rem 1rem;
    vertical-align: middle;

}
.description_4{
    height: 450px;
    width: 40%;
    float: left;
    /* background-color: brown; */
}
.description_4 h3{
    font-size: 28px;
    font-weight: 800;
    padding: 3rem 0;
}
.description_4 p{
    font-weight: 400;
    line-height: 30px;
}
.description_4 p:nth-of-type(1){
    margin-bottom: 3rem;
}
.description_4 p:nth-of-type(2){
    margin-top: 3rem;
    font-size: 10px;
}
.description_4 a{
    padding: 1rem 1rem;
    border: 1px solid #FE775A;
    border-radius: 5px;
    color: white;
    background-color: #FE775A;
}

.img_page_4{
    height: 450px;
    width: 60%;
    float: left;
    /* background-color: red; */
}

.img_page_4 img{
    height: 400px;
    float: right;
}



/* ******************** Site Footer ******************** */
