/* ******************** Commons ******************** */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*  font-family: 'Montserrat', sans-serif; */
/* ******************** Utility ******************** */
.grey_bg{
    background-color: lightgrey;
    height: 100px;
    width: 100%;
}

.white_bg{
    background-color: white;
    height: 100px;
    width: 100%;
}

/* ******************** Site Header ******************** */
header select{
    background-color: transparent;
    border: none;
}

header a {
    text-decoration: none;
}
/* Site Navigation */
#site_navigation{
    height: 200px;
    width: 100%;
}

/* Top Navigation */
.top_nav{
    height: 100px;
    width: 70%;
    margin: auto;
    background-color: lightgrey;
}
.left_top{
    width: 50%;
    float: left;
    padding-top: 30px;

}
.left_top select{
    width: 80px;
    margin: 10px 30px 10px 0;
}

.left_top a{
    border-left: 2px solid black;
    padding-left: 20px;
}


.right_top{
    width: 50%;
    height: 100%;
    padding-top: 30px;
    float: left;
    text-align: right;
}

.right_top img{
    height: 20px;    
}

.right_top a{
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 1rem;
    font-weight: 600;
}
.right_top a:first-of-type{
    background-color: white;
    border: 2px solid red;
    color: red;
}

.right_top a:nth-of-type(2){
    background-color: red;
    color: white;
    border: 2px solid red;
}

/* Bottom Navigation */
.bottom_nav{
    height: 100px;
    width: 70%;
    margin: auto;
}

.bottom_nav img{
    height: 30px;
    margin-top: 35px;
}

.bottom_nav form{
    float: right;
    line-height: 100px;   
}

.bottom_nav form select{
    margin-left: 20px; 
    padding-right: 10px; 
}

.bottom_nav form select:nth-of-type(2){
    appearance: none;
    margin-right: -10px;
}



/* ******************** Site  Main ******************** */




/* Page 1 -- Big Immage Background */


/* Page 2 -- Long page with content */


/* page 3 -- Big Table with dates */


/* Page 4 --Collaboration parterns */




/* ******************** Site Footer ******************** */


